header.form-header
  if (offlinePath)
    .offline-enabled
      .offline-enabled__icon.not-enabled(title="This form is able to launch offline")
      .offline-enabled__queue-length(title="Records Queued")
  .form-progress
  if (logo.source)
    if (logo.href)
      a.form-header__branding(href=`${logo.href || '#'}`)
        .logo-wrapper
          img(src=`${logo.source}`, alt="brand logo", id="branding_icon")
    else
      .form-header__branding
        .logo-wrapper
          img(src=`${logo.source}`, alt="brand logo", id="branding_icon")
  .form-header__filler
  button.form-header__button--print.btn-bg-icon-only(onclick="return false;")
  span.form-language-selector.hide: span(data-i18n='form.chooseLanguage')= t('form.chooseLanguage')
  button.form-header__button--homescreen.btn-icon-only.hide(type="button", aria-label="add to homescreen")
    i.icon.icon-bookmark-o 
  nav.pages-toc.hide(role="navigation")
    label(for="toc-toggle")
    input#toc-toggle.ignore(type="checkbox" value="show")                
    ul.pages-toc__list
    .pages-toc__overlay

script.
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  const orgId = getCookie('formOrgId')
  if (orgId) {
    fetch('https://beta.veritree.org/api/organizations/' + orgId ).then(response => {
      if (response.status >= 200 && response.status < 300) {
        response.json().then((content) => {
          if (content.data && content.data.logo_url) {
            const imageTag = document.getElementById('branding_icon')
            if (imageTag) {
              imageTag.src = content.data.logo_url
            }
          }
        })
      }
    })
  }
